.jfx-button {
     -fx-padding: 0.7em 0.57em;
     -fx-font-size: 14px;
     -jfx-button-type: RAISED;
     -fx-background-color: rgb(77,102,204);
     -fx-pref-width: 200;
     -fx-text-fill: WHITE;
}
.jfx-titleLabel {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.jfx-contentLabel {
    -fx-font-size: 14px;
}
.jfx-toggle-button {
    -jfx-toggle-color: #DC143C;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: #FFC0CB;
    -jfx-untoggle-line-color: #999999;
    -jfx-disable-visual-focus: false;
    -fx-font-size: 14px;
}
.jfx-radio-button {
    -jfx-selected-color: #DC143C;
    -fx-font-size: 14px;
}
